.rtl-support{
  .phone-input {
    direction: ltr;
    text-align: right;
  }
}

.input-without-border-radius {
  border-radius: unset;
  margin-left: -1px;
}

// .login-form .MuiFormHelperText-root.Mui-error {
//   color: #f44336;
//   margin-top: 2px;
//   height: 20px;
// }
// .login-form .form__form-group {
//   margin-bottom: 6px;
// }