.TableProfileImg {
  border-radius: 50%;
  width: 50px;
}

.react-table.resizable-table tbody td {
  vertical-align: middle;
}

.btn.view {
  border: 1px solid #16baec;
  padding: 6px 6px 3px;
  background-color: #99cfe0;
  font-size: 11px;
}

.btn.edit {
  border: 1px solid #18ec18;
  padding: 6px 6px 3px;
  background-color: #d2f8d2;
  font-size: 11px;
}
.btn.edit p,
.btn.delete p,
.btn.view p {
  text-transform: uppercase;
}
.btn.delete {
  border: 1px solid #dd8989;
  padding: 5px 6px 2px;
  background-color: #fef3ec;
  font-size: 11px;
}
/* .btn.delete:hover {
    background-color: red;
} */

.btnAddDoctor {
  float: right;
}
.date-picker .react-datepicker__header,
.date-picker .react-datepicker__day--selected,
.date-picker .react-datepicker__time-list-item--selected,
.date-picker .react-datepicker__day--keyboard-selected {
  background-color: #6db0ff !important;
  color: #fff !important;
}

.form__form-group {
  margin-bottom: 25px;
}
.form__form-group-icon {
  background: #efefef;
}
.react-select__input {
  height: 24px !important;
}
.css-yk16xz-control {
  min-height: 32px !important;
}
.css-1pahdxg-control {
  min-height: 24px !important;
}
button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
  border: none;
}
